<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scene.name %>
</p>

<p>
  <b>Description:</b>
  <%= @scene.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @scene.image.url(:in_game) %>
</p>


<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
