<p id="notice"><%= notice %></p>

<section id="view" >
  <%= image_tag @scene.image.url(:in_game) %>
</section>

<h1>
  <%= @scene.name %>
</h1>

<p>
  <%= @scene.description %>
</p>

<h3>Notes</h3>

<p>
  <%= @scene.notes %>
</p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
