<p id="notice"><%= notice %></p>

<section id="scene" >
  <%= image_tag @scene.image.url(:in_game) %>
</section>

<h1>
  <%= @scene.name %>
</h1>

<p>
  <b>Description:</b>
  <%= @scene.description %>
</p>




<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
