<p id="notice"><%= notice %></p>

<section id="view" >
  <%= image_tag @item.image.url(:examine) %>
</section>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <%= @item.description %>
</p>

<h3>Notes</h3>

<p>
  <%= @item.notes %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
